.chart_main_wrap {
  padding: 25px 25px;
  width: 417px;
  height: 450px;
  background: linear-gradient(90deg, rgb(36, 38, 43) 0%, rgb(41, 44, 48) 100%);
  box-shadow: 10px 10px 26px rgb(0 0 0 / 35%);
  border-radius: 27px;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  .chart_spinner_wrp {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cf0808;
  }
  .chart_data_not_found {
    color: #eaeaea;
    text-align: center;
  }
  .chart_heading {
    p {
      width: 81%;
      color: #eaeaea;
      display: inline-block;
      font-size: 15px;
    }
    .chart_dropdown {
      display: inline-block;
      .dropdown-toggle {
        color: #ffffff;
        background: #727272;
        border-radius: 20px;
        border-color: #727272;
        font-size: 10px;
        padding: 4px 11px;
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
      }
      dropdown-toggle:focus {
        box-shadow: none;
      }
    }
  }

  .chart_value {
    margin-bottom: 20px;
    font-size: 38px;
    color: #fff;
    line-height: 40px;
    font-family: EBGaramond;
  }
}
