.sidebar_main_wrap {
  width: 18%;
  height: auto;
  box-shadow: 25px 3px 60px #00000059;

  .sidebar_logo {
    padding: 26px 50px;
    img {
      width: 95px;
      height: 95px;
    }
  }

  .sidebar_nav_option {
    display: flex;
    justify-content: flex-start;
    color: #eaeaea;
    margin: 35px 0px;
    padding: 14px 14px 14px 25px;
    background: transparent;
    text-decoration: none;

    img {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
  .sidebar_nav_option_active {
    background: linear-gradient(
      90deg,
      rgba(36, 38, 43, 0) 88%,
      rgba(255, 0, 45, 1) 100%
    );
  }
}
