REACT_APP_EXCHANGE_API="https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&ids=ethereum"
REACT_APP_GAS_API="https://api.etherscan.io/api?module=gastracker&action=gasoracle&apikey="
REACT_APP_ETHERSCAN_API_KEY="W4FSKTPHY46TMKAEWYS9IU1BMRI92Z9YTF"
REACT_APP_BACKEND_BASE_API= #enter base url of backend
